<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
      
    </startup>
  <appSettings>
    <add key="inputpath" value="D:\Music\Collection\unsorted"/>
    <add key="outputpath" value="D:\Music\Collection"/>
    <add key="move" value="1"/>
    <add key="categories" value="blues jazz pop rock oldmetal newmetal shanson grindcore rap classic shit club cover country russian"/>
    
  </appSettings>
</configuration>